<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paas.runup.dao.QuizCheckDAO">
	<select id="selectQuizCheckListByQuiz" parameterType="int" resultType="com.paas.runup.dto.QuizCheckDTO">
  	SELECT * FROM QUIZCHECK
  	WHERE q_no=#{q_no}
  </select>
  
  <select id="selectQuizCheckListByStudent" parameterType="int" resultType="com.paas.runup.dto.QuizCheckDTO">
  	SELECT * FROM QUIZCHECK
  	WHERE s_no=#{s_no}
  </select>
  
  <insert id="insertQuizCheck" parameterType="com.paas.runup.dto.QuizCheckDTO">
  	INSERT INTO QUIZCHECK(q_no, s_no, qc_state, qc_time, qc_ans)
  	VALUES (#{q_no},#{s_no},#{qc_state},#{qc_time},#{qc_ans})
  </insert>

	
</mapper>